#### Directional lines (transmission lines) between OW areas

In [1]:
import pandas as pd 
import numpy as np

Offshore to offshore - keep only lines where distance is less than 500 km

Type of cable: HVDC_Cable

In [4]:
offshr_to_offshr = pd.read_csv("Output/dist_offshore_areas_scaled.csv")
offshr_to_offshr = offshr_to_offshr[offshr_to_offshr["distance"] < 500]
offshr_to_offshr["LineType"] = "HVDC_Cable"
offshr_to_offshr

               Node         to_Node    distance    LineType
0       Moray Firth  Firth of Forth  215.667240  HVDC_Cable
2    Firth of Forth     Dogger Bank  333.632410  HVDC_Cable
4    Firth of Forth         Hornsea  387.595780  HVDC_Cable
5       Dogger Bank         Hornsea  120.257880  HVDC_Cable
7    Firth of Forth   Outer Dowsing  400.736837  HVDC_Cable
..              ...             ...         ...         ...
487     Vestavind C       Sørvest D  451.279590  HVDC_Cable
488     Vestavind D       Sørvest D  442.252630  HVDC_Cable
489       Sørvest F       Sørvest D   76.215939  HVDC_Cable
490       Sørvest B       Sørvest D  105.113954  HVDC_Cable
495     Vestavind E       Sørvest D  301.383049  HVDC_Cable

[197 rows x 4 columns]

Offshore to onshore

LineType: HVDC_OffshoreToOnshore

In [7]:
offshr_to_onshr = pd.read_csv("Output/offshore_to_onshore_nodes_scaled.csv")
offshr_to_onshr = offshr_to_onshr[["fromNode", "toNode", "dist"]]
offshr_to_onshr["LineType"] = "HVDC_OffshoreToOnshore"
offshr_to_onshr

             fromNode       toNode        dist                LineType
0         Moray Firth  Great Brit.   20.780646  HVDC_OffshoreToOnshore
1      Firth of Forth  Great Brit.   35.566804  HVDC_OffshoreToOnshore
2         Dogger Bank  Great Brit.  180.205598  HVDC_OffshoreToOnshore
3             Hornsea  Great Brit.  107.985949  HVDC_OffshoreToOnshore
4       Outer Dowsing  Great Brit.   37.875607  HVDC_OffshoreToOnshore
5             Norfolk  Great Brit.   33.285776  HVDC_OffshoreToOnshore
6         East Anglia  Great Brit.   31.010428  HVDC_OffshoreToOnshore
7            Borssele      Belgium   67.839356  HVDC_OffshoreToOnshore
8            Borssele  Netherlands   44.048883  HVDC_OffshoreToOnshore
9     Hollandsee Kust  Netherlands   36.430678  HVDC_OffshoreToOnshore
10  Helgoländer Bucht  Netherlands   96.753774  HVDC_OffshoreToOnshore
11  Helgoländer Bucht      Germany   48.342222  HVDC_OffshoreToOnshore
12           Nordsøen      Denmark   68.692180  HVDC_OffshoreToOnshore
13       Energyhub EU          NO2  341.649808  HVDC_OffshoreToOnshore
14       Energyhub EU  Great Brit.  377.721776  HVDC_OffshoreToOnshore
15       Energyhub EU      Denmark  165.276477  HVDC_OffshoreToOnshore
16       Energyhub EU  Netherlands  180.592247  HVDC_OffshoreToOnshore
17       Energyhub EU      Belgium  410.612027  HVDC_OffshoreToOnshore
18         Nordvest A          NO4   99.992955  HVDC_OffshoreToOnshore
19         Nordvest C          NO3   69.068913  HVDC_OffshoreToOnshore
20        Vestavind A          NO3   61.627981  HVDC_OffshoreToOnshore
21        Sønnavind A          NO2   50.802598  HVDC_OffshoreToOnshore
22          Sørvest C          NO2  199.502670  HVDC_OffshoreToOnshore
23         Nordvest B          NO3  112.479480  HVDC_OffshoreToOnshore
24        Vestavind F          NO2   20.823649  HVDC_OffshoreToOnshore
25          Sørvest E          NO2  129.327196  HVDC_OffshoreToOnshore
26          Sørvest A          NO2  147.336000  HVDC_OffshoreToOnshore
27        Vestavind B          NO5   49.312771  HVDC_OffshoreToOnshore
28        Vestavind C          NO5   27.932525  HVDC_OffshoreToOnshore
29        Vestavind D          NO5   29.041520  HVDC_OffshoreToOnshore
30          Sørvest F          NO2  178.587402  HVDC_OffshoreToOnshore
31          Sørvest B          NO2  195.251652  HVDC_OffshoreToOnshore
32        Nordavind B          NO4   74.016040  HVDC_OffshoreToOnshore
33        Nordavind A          NO4   82.890254  HVDC_OffshoreToOnshore
34        Nordavind D          NO4  135.057542  HVDC_OffshoreToOnshore
35        Nordavind C          NO4  139.913997  HVDC_OffshoreToOnshore
36        Vestavind E          NO2   61.196428  HVDC_OffshoreToOnshore
37          Sørvest D          NO2  250.690470  HVDC_OffshoreToOnshore

Same format and combine

In [10]:
offshr_to_offshr = offshr_to_offshr.rename(columns={"Node": "FromNode", "to_Node": "ToNode", "distance": "lineLength in km"})
offshr_to_onshr = offshr_to_onshr.rename(columns={"fromNode": "FromNode", "toNode": "ToNode", "dist": "lineLength in km"})
directional_lines = pd.concat([offshr_to_offshr, offshr_to_onshr], ignore_index=True).reset_index(drop=True)
directional_lines

           FromNode          ToNode  lineLength in km                LineType
0       Moray Firth  Firth of Forth        215.667240              HVDC_Cable
1    Firth of Forth     Dogger Bank        333.632410              HVDC_Cable
2    Firth of Forth         Hornsea        387.595780              HVDC_Cable
3       Dogger Bank         Hornsea        120.257880              HVDC_Cable
4    Firth of Forth   Outer Dowsing        400.736837              HVDC_Cable
..              ...             ...               ...                     ...
230     Nordavind A             NO4         82.890254  HVDC_OffshoreToOnshore
231     Nordavind D             NO4        135.057542  HVDC_OffshoreToOnshore
232     Nordavind C             NO4        139.913997  HVDC_OffshoreToOnshore
233     Vestavind E             NO2         61.196428  HVDC_OffshoreToOnshore
234       Sørvest D             NO2        250.690470  HVDC_OffshoreToOnshore

[235 rows x 4 columns]

Export CSV

In [11]:
directional_lines.to_csv("Output/directional_lines.csv", index=False, encoding="utf-8-sig")