#### Directional lines (transmission lines) between OW areas

In [1]:
import pandas as pd 
import numpy as np

Offshore to offshore - keep only lines where distance is less than 750 km (Nordavind D-Nordvest A = 701 km; want to keep)

Type of cable: HVDC_Cable

In [2]:
offshr_to_offshr = pd.read_csv("Output/dist_offshore_areas_scaled.csv")
offshr_to_offshr

                Node            to_Node     distance
0        Moray Firth     Firth of Forth   215.667240
1        Moray Firth        Dogger Bank   509.370695
2     Firth of Forth        Dogger Bank   333.632410
3        Moray Firth            Hornsea   586.957998
4     Firth of Forth            Hornsea   387.595780
..               ...                ...          ...
556      Nordavind D  Energyhub Central  1902.799973
557      Nordavind C  Energyhub Central  1952.601183
558      Vestavind E  Energyhub Central   350.432937
559        Sørvest D  Energyhub Central    58.765643
560  Energyhub North  Energyhub Central   293.678213

[561 rows x 3 columns]

In [3]:
offshr_to_offshr = offshr_to_offshr[offshr_to_offshr["distance"] < 750]
offshr_to_offshr["LineType"] = "HVDC_Cable"
offshr_to_offshr

/var/folders/rd/zf3y09wj69n3q6493fx5jmtr0000gn/T/ipykernel_43934/1657736153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offshr_to_offshr["LineType"] = "HVDC_Cable"

                Node            to_Node    distance    LineType
0        Moray Firth     Firth of Forth  215.667240  HVDC_Cable
1        Moray Firth        Dogger Bank  509.370695  HVDC_Cable
2     Firth of Forth        Dogger Bank  333.632410  HVDC_Cable
3        Moray Firth            Hornsea  586.957998  HVDC_Cable
4     Firth of Forth            Hornsea  387.595780  HVDC_Cable
..               ...                ...         ...         ...
552        Sørvest F  Energyhub Central  132.724346  HVDC_Cable
553        Sørvest B  Energyhub Central  148.124593  HVDC_Cable
558      Vestavind E  Energyhub Central  350.432937  HVDC_Cable
559        Sørvest D  Energyhub Central   58.765643  HVDC_Cable
560  Energyhub North  Energyhub Central  293.678213  HVDC_Cable

[342 rows x 4 columns]

Offshore to onshore

LineType: HVDC_OffshoreToOnshore

In [4]:
offshr_to_onshr = pd.read_csv("Output/offshore_to_onshore_nodes_scaled.csv")
offshr_to_onshr = offshr_to_onshr[["fromNode", "toNode", "dist"]]
offshr_to_onshr["LineType"] = "HVDC_OffshoreToOnshore"
offshr_to_onshr

             fromNode       toNode        dist                LineType
0         Moray Firth  Great Brit.   20.780646  HVDC_OffshoreToOnshore
1      Firth of Forth  Great Brit.   35.566804  HVDC_OffshoreToOnshore
2         Dogger Bank  Great Brit.  180.205598  HVDC_OffshoreToOnshore
3             Hornsea  Great Brit.  107.985949  HVDC_OffshoreToOnshore
4       Outer Dowsing  Great Brit.   37.875607  HVDC_OffshoreToOnshore
5             Norfolk  Great Brit.   33.285776  HVDC_OffshoreToOnshore
6         East Anglia  Great Brit.   31.010428  HVDC_OffshoreToOnshore
7            Borssele      Belgium   67.839356  HVDC_OffshoreToOnshore
8            Borssele  Netherlands   44.048883  HVDC_OffshoreToOnshore
9     Hollandsee Kust  Netherlands   36.430678  HVDC_OffshoreToOnshore
10  Helgoländer Bucht  Netherlands   96.753774  HVDC_OffshoreToOnshore
11  Helgoländer Bucht      Germany   48.342222  HVDC_OffshoreToOnshore
12           Nordsøen      Denmark   68.692180  HVDC_OffshoreToOnshore
13         Nordvest A          NO4   99.992955  HVDC_OffshoreToOnshore
14         Nordvest C          NO3   69.068913  HVDC_OffshoreToOnshore
15        Vestavind A          NO3   61.627981  HVDC_OffshoreToOnshore
16        Sønnavind A          NO2   50.802598  HVDC_OffshoreToOnshore
17          Sørvest C          NO2  199.502670  HVDC_OffshoreToOnshore
18         Nordvest B          NO3  112.479480  HVDC_OffshoreToOnshore
19        Vestavind F          NO2   20.823649  HVDC_OffshoreToOnshore
20          Sørvest E          NO2  129.327196  HVDC_OffshoreToOnshore
21          Sørvest A          NO2  147.336000  HVDC_OffshoreToOnshore
22        Vestavind B          NO3   49.312771  HVDC_OffshoreToOnshore
23        Vestavind C          NO5   27.932525  HVDC_OffshoreToOnshore
24        Vestavind D          NO5   29.041520  HVDC_OffshoreToOnshore
25          Sørvest F          NO2  178.587402  HVDC_OffshoreToOnshore
26          Sørvest B          NO2  195.251652  HVDC_OffshoreToOnshore
27        Nordavind B          NO4   74.016040  HVDC_OffshoreToOnshore
28        Nordavind A          NO4   82.890254  HVDC_OffshoreToOnshore
29        Nordavind D          NO4  135.057542  HVDC_OffshoreToOnshore
30        Nordavind C          NO4  139.913997  HVDC_OffshoreToOnshore
31        Vestavind E          NO2   61.196428  HVDC_OffshoreToOnshore
32          Sørvest D          NO2  250.690470  HVDC_OffshoreToOnshore
33       Energyhub EU          NO2  341.649808  HVDC_OffshoreToOnshore
34       Energyhub EU  Great Brit.  377.721776  HVDC_OffshoreToOnshore
35       Energyhub EU      Denmark  165.276477  HVDC_OffshoreToOnshore
36       Energyhub EU  Netherlands  180.592247  HVDC_OffshoreToOnshore
37       Energyhub EU      Belgium  410.612027  HVDC_OffshoreToOnshore
38    Energyhub North          NO2  223.865553  HVDC_OffshoreToOnshore
39    Energyhub North  Great Brit.  218.627403  HVDC_OffshoreToOnshore
40    Energyhub North      Denmark  453.033194  HVDC_OffshoreToOnshore
41    Energyhub North  Netherlands  621.191248  HVDC_OffshoreToOnshore
42    Energyhub North      Belgium  813.915205  HVDC_OffshoreToOnshore
43  Energyhub Central          NO2  309.278517  HVDC_OffshoreToOnshore
44  Energyhub Central  Great Brit.  308.992822  HVDC_OffshoreToOnshore
45  Energyhub Central      Denmark  305.970500  HVDC_OffshoreToOnshore
46  Energyhub Central  Netherlands  327.564532  HVDC_OffshoreToOnshore
47  Energyhub Central      Belgium  526.985723  HVDC_OffshoreToOnshore

Same format and combine

In [5]:
offshr_to_offshr = offshr_to_offshr.rename(columns={"Node": "FromNode", "to_Node": "ToNode", "distance": "lineLength in km"})
offshr_to_onshr = offshr_to_onshr.rename(columns={"fromNode": "FromNode", "toNode": "ToNode", "dist": "lineLength in km"})
directional_lines = pd.concat([offshr_to_offshr, offshr_to_onshr], ignore_index=True).reset_index(drop=True)
directional_lines

,FromNode,ToNode,lineLength in km,LineType
0,Moray Firth,Firth of Forth,215.667240,HVDC_Cable
1,Moray Firth,Dogger Bank,509.370695,HVDC_Cable
2,Firth of Forth,Dogger Bank,333.632410,HVDC_Cable
3,Moray Firth,Hornsea,586.957998,HVDC_Cable
4,Firth of Forth,Hornsea,387.595780,HVDC_Cable
...,...,...,...,...
385,Energyhub Central,NO2,309.278517,HVDC_OffshoreToOnshore
386,Energyhub Central,Great Brit.,308.992822,HVDC_OffshoreToOnshore
387,Energyhub Central,Denmark,305.970500,HVDC_OffshoreToOnshore
388,Energyhub Central,Netherlands,327.564532,HVDC_OffshoreToOnshore
389,Energyhub Central,Belgium,526.985723,HVDC_OffshoreToOnshore

Export CSV

In [6]:
directional_lines.to_csv("Output/directional_lines.csv", index=False, encoding="utf-8-sig")