### Calculate distance between all offshore wind areas

In [1]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

In [2]:
df_OW_nodes = pd.read_csv("Output/OW_nodes.csv")
df_OW_nodes["geometry"] = df_OW_nodes["geometry"].apply(wkt.loads)
OW_nodes = gpd.GeoDataFrame(df_OW_nodes, crs="EPSG:4326")
OW_nodes = OW_nodes.to_crs("EPSG:25833")
OW_nodes

                 Node  Longitude   Latitude                         geometry
0         Moray Firth  -2.990229  58.170702  POINT (-550382.221 6589636.681)
1      Firth of Forth  -2.047535  56.363729  POINT (-547016.494 6377809.984)
2         Dogger Bank   2.333333  54.833333  POINT (-311348.707 6150061.633)
3             Hornsea   1.845196  53.820112  POINT (-363643.253 6044135.822)
4       Outer Dowsing   0.905074  53.311186  POINT (-436309.630 6000047.419)
5             Norfolk   2.168638  52.782831  POINT (-363440.248 5925669.401)
6         East Anglia   1.883496  51.890054  POINT (-400723.386 5830562.425)
7            Borssele   3.197221  51.957807  POINT (-309616.206 5822431.844)
8     Hollandsee Kust   4.008061  52.462704  POINT (-245595.575 5869521.124)
9   Helgoländer Bucht   7.167722  54.322931    POINT (-8909.976 6047781.867)
10           Nordsøen   7.035800  56.279961     POINT (7499.569 6265784.107)
11       Energyhub EU   5.673700  55.072580   POINT (-94598.068 6142690.189)
12         Nordvest A   9.575020  66.234484   POINT (256287.933 7356616.547)
13         Nordvest C   6.643090  63.776547    POINT (88877.428 7099077.545)
14        Vestavind A   3.707151  61.980480   POINT (-89710.938 6923549.749)
15        Sønnavind A   7.389599  57.517279    POINT (44687.522 6400536.813)
16          Sørvest C   3.884186  57.030656  POINT (-172960.986 6375841.040)
17         Nordvest B   7.402539  64.751603   POINT (139081.158 7202458.054)
18        Vestavind F   4.487467  59.291804   POINT (-97230.489 6619854.346)
19          Sørvest E   4.728237  57.463550  POINT (-114804.783 6415646.009)
20          Sørvest A   3.539790  57.903323  POINT (-177234.569 6475625.603)
21        Vestavind B   3.616478  61.054747  POINT (-112460.540 6822385.676)
22        Vestavind C   3.805417  60.425492  POINT (-114344.615 6751244.030)
23        Vestavind D   4.384095  60.336749   POINT (-84378.925 6736159.593)
24          Sørvest F   4.872800  56.816828  POINT (-116922.342 6342817.900)
25          Sørvest B   3.359530  57.348535  POINT (-198471.353 6416251.281)
26        Nordavind B  27.755036  71.778684   POINT (942185.791 8011229.881)
27        Nordavind A  32.012239  71.113248  POINT (1107447.567 7976118.280)
28        Nordavind D  18.808962  71.450117   POINT (635164.986 7931860.745)
29        Nordavind C  20.019911  71.728123   POINT (675483.230 7965912.714)
30        Vestavind E   3.853030  59.109692  POINT (-136458.754 6605653.720)
31          Sørvest D   3.840226  56.464644  POINT (-185922.125 6313761.564)
32    Energyhub North   1.440000  58.420000  POINT (-288723.459 6555561.818)
33  Energyhub Central   3.290000  56.050000  POINT (-227445.801 6273660.105)

In [3]:
results = None
for row in OW_nodes.itertuples():
    other_OW_nodes = OW_nodes[OW_nodes.index < row.Index]
    distances = other_OW_nodes.geometry.distance(row.geometry)
    distances_OW_nodes = other_OW_nodes.copy()
    distances_OW_nodes["distance"] = distances / 1000 # m to km
    for name, value in row._asdict().items():
        distances_OW_nodes[f"to_{name}"] = value

    if results is None:
        results = distances_OW_nodes
    else:
        results = pd.concat([results, distances_OW_nodes])

results

,Node,Longitude,Latitude,geometry,distance,to_Index,to_Node,to_Longitude,to_Latitude,to_geometry
0,Moray Firth,-2.990229,58.170702,POINT (-550382.221 6589636.681),211.853435,1,Firth of Forth,-2.047535,56.363729,POINT (-547016.4941446853 6377809.983783474)
0,Moray Firth,-2.990229,58.170702,POINT (-550382.221 6589636.681),500.363112,2,Dogger Bank,2.333333,54.833333,POINT (-311348.7073516828 6150061.633228509)
1,Firth of Forth,-2.047535,56.363729,POINT (-547016.494 6377809.984),327.732539,2,Dogger Bank,2.333333,54.833333,POINT (-311348.7073516828 6150061.633228509)
0,Moray Firth,-2.990229,58.170702,POINT (-550382.221 6589636.681),576.578381,3,Hornsea,1.845196,53.820112,POINT (-363643.25345733296 6044135.821791392)
1,Firth of Forth,-2.047535,56.363729,POINT (-547016.494 6377809.984),380.741634,3,Hornsea,1.845196,53.820112,POINT (-363643.25345733296 6044135.821791392)
...,...,...,...,...,...,...,...,...,...,...
28,Nordavind D,18.808962,71.450117,POINT (635164.986 7931860.745),1869.151340,33,Energyhub Central,3.290000,56.050000,POINT (-227445.80113339517 6273660.105354942)
29,Nordavind C,20.019911,71.728123,POINT (675483.230 7965912.714),1918.071877,33,Energyhub Central,3.290000,56.050000,POINT (-227445.80113339517 6273660.105354942)
30,Vestavind E,3.853030,59.109692,POINT (-136458.754 6605653.720),344.235969,33,Energyhub Central,3.290000,56.050000,POINT (-227445.80113339517 6273660.105354942)
31,Sørvest D,3.840226,56.464644,POINT (-185922.125 6313761.564),57.726447,33,Energyhub Central,3.290000,56.050000,POINT (-227445.80113339517 6273660.105354942)
32,Energyhub North,1.440000,58.420000,POINT (-288723.459 6555561.818),288.484881,33,Energyhub Central,3.290000,56.050000,POINT (-227445.80113339517 6273660.105354942)

In [5]:
results = results[["Node", "to_Node", "distance"]]
results

               Node            to_Node     distance
0       Moray Firth     Firth of Forth   211.853435
0       Moray Firth        Dogger Bank   500.363112
1    Firth of Forth        Dogger Bank   327.732539
0       Moray Firth            Hornsea   576.578381
1    Firth of Forth            Hornsea   380.741634
..              ...                ...          ...
28      Nordavind D  Energyhub Central  1869.151340
29      Nordavind C  Energyhub Central  1918.071877
30      Vestavind E  Energyhub Central   344.235969
31        Sørvest D  Energyhub Central    57.726447
32  Energyhub North  Energyhub Central   288.484881

[561 rows x 3 columns]

Export CSV

In [6]:
results.to_csv("Output/dist_offshore_areas.csv", index=False, encoding='utf-8-sig')