### Node.xlsx - Get longitude and latitude for all OW nodes

In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd

Import existing node data

In [2]:
EMPIRE_nodes_lon = pd.read_excel("Data/Node.xlsx", sheet_name="Longitude", header=2)
EMPIRE_nodes_lat = pd.read_excel("Data/Node.xlsx", sheet_name="Latitude", header=2)
EMPIRE_nodes = EMPIRE_nodes_lon.merge(EMPIRE_nodes_lat, on="Node")
EMPIRE_nodes["geometry"] = gpd.points_from_xy(x=EMPIRE_nodes["Longitude"], y=EMPIRE_nodes["Latitude"])
EMPIRE_nodes

                  Node  Longitude   Latitude                   geometry
0              Austria  14.430000  47.460000  POINT (14.43000 47.46000)
1             Bosnia H  17.810000  44.060000  POINT (17.81000 44.06000)
2              Belgium   4.600000  50.720000   POINT (4.60000 50.72000)
3             Bulgaria  25.250000  42.710000  POINT (25.25000 42.71000)
4          Switzerland   8.150000  46.820000   POINT (8.15000 46.82000)
5              Czech R  15.110000  49.870000  POINT (15.11000 49.87000)
6              Germany  10.540000  51.040000  POINT (10.54000 51.04000)
7              Denmark   9.220000  56.170000   POINT (9.22000 56.17000)
8              Estonia  25.260000  58.790000  POINT (25.26000 58.79000)
9                Spain  -3.150000  40.310000  POINT (-3.15000 40.31000)
10             Finland  26.770000  63.900000  POINT (26.77000 63.90000)
11              France   2.520000  46.740000   POINT (2.52000 46.74000)
12         Great Brit.  -1.260000  52.670000  POINT (-1.26000 52.67000)
13              Greece  21.830000  39.130000  POINT (21.83000 39.13000)
14             Croatia  16.710000  45.580000  POINT (16.71000 45.58000)
15             Hungary  18.820000  46.990000  POINT (18.82000 46.99000)
16             Ireland  -8.070000  53.090000  POINT (-8.07000 53.09000)
17               Italy  10.960000  44.400000  POINT (10.96000 44.40000)
18           Lithuania  24.170000  55.300000  POINT (24.17000 55.30000)
19             Luxemb.   6.120000  49.750000   POINT (6.12000 49.75000)
20              Latvia  25.620000  56.850000  POINT (25.62000 56.85000)
21           Macedonia  21.700000  41.570000  POINT (21.70000 41.57000)
22         Netherlands   5.540000  52.140000   POINT (5.54000 52.14000)
23                 NO1  10.710000  60.110000  POINT (10.71000 60.11000)
24                 NO2   7.320000  59.040000   POINT (7.32000 59.04000)
25                 NO3  10.530000  63.090000  POINT (10.53000 63.09000)
26                 NO4  16.850000  68.270000  POINT (16.85000 68.27000)
27                 NO5   6.280000  60.680000   POINT (6.28000 60.68000)
28              Poland  19.330000  52.160000  POINT (19.33000 52.16000)
29            Portugal  -8.320000  39.740000  POINT (-8.32000 39.74000)
30             Romania  24.960000  46.010000  POINT (24.96000 46.01000)
31              Serbia  20.650000  44.250000  POINT (20.65000 44.25000)
32              Sweden  15.500000  62.670000  POINT (15.50000 62.67000)
33            Slovenia  14.740000  46.070000  POINT (14.74000 46.07000)
34            Slovakia  19.360000  48.680000  POINT (19.36000 48.68000)
35         Moray Firth  -2.990229  58.170702  POINT (-2.99023 58.17070)
36      Firth of Forth  -2.047535  56.363729  POINT (-2.04753 56.36373)
37         Dogger Bank   2.333333  54.833333   POINT (2.33333 54.83333)
38             Hornsea   1.845196  53.820112   POINT (1.84520 53.82011)
39       Outer Dowsing   0.905074  53.311186   POINT (0.90507 53.31119)
40             Norfolk   2.168638  52.782831   POINT (2.16864 52.78283)
41         East Anglia   1.883496  51.890054   POINT (1.88350 51.89005)
42            Borssele   3.197221  51.957807   POINT (3.19722 51.95781)
43     Hollandsee Kust   4.008061  52.462704   POINT (4.00806 52.46270)
44   Helgoländer Bucht   7.167722  54.322931   POINT (7.16772 54.32293)
45            Nordsøen   7.035800  56.279961   POINT (7.03580 56.27996)
46         Utsira Nord   4.540600  59.276200   POINT (4.54060 59.27620)
47   Sørlige Nordsjø I   3.634890  57.450060   POINT (3.63489 57.45006)
48  Sørlige Nordsjø II   4.936300  56.746100   POINT (4.93630 56.74610)
49        Energyhub EU   5.673700  55.072580   POINT (5.67370 55.07258)