### Calculate capacity of wind farms by floating/grounded

In [1]:
import pandas as pd
import geopandas as gpd 
import numpy as np

Get existing capacities

In [13]:
NODES_TO_BE_REMOVED = ["Utsira Nord", "Sørlige Nordsjø I", "Sørlige Nordsjø II"]
OFFSHORE_TECHS = ["Wind_offshr_floating", "Wind_offshr_grounded"]

EMPIRE_capacity = pd.read_excel("Data/Generator.xlsx", sheet_name="MaxInstalledCapacity", header=2)
EMPIRE_capacity_ow = EMPIRE_capacity[EMPIRE_capacity["GeneratorTechnology"].isin(OFFSHORE_TECHS)]
EMPIRE_capacity_ow = EMPIRE_capacity_ow[~EMPIRE_capacity_ow["Node"].isin(NODES_TO_BE_REMOVED)]
EMPIRE_capacity_ow = EMPIRE_capacity_ow.drop(columns=["Unnamed: 3", "Unnamed: 4", "NREAP (2020 number + 20%)"]).reset_index(drop=True)
EMPIRE_capacity_ow

,Node,GeneratorTechnology,generatorMaxInstallCapacity in MW
0,Belgium,Wind_offshr_grounded,0.00
1,Germany,Wind_offshr_grounded,0.00
2,Denmark,Wind_offshr_grounded,0.00
3,Estonia,Wind_offshr_grounded,1500.00
4,Spain,Wind_offshr_grounded,13000.00
5,Finland,Wind_offshr_grounded,15500.00
6,France,Wind_offshr_grounded,57900.00
7,Great Brit.,Wind_offshr_grounded,0.00
8,Greece,Wind_offshr_grounded,15300.00
9,Ireland,Wind_offshr_grounded,22200.00
10,Italy,Wind_offshr_grounded,15300.00
11,Latvia,Wind_offshr_grounded,2900.00
12,Netherlands,Wind_offshr_grounded,0.00
13,NO1,Wind_offshr_grounded,0.00
14,NO2,Wind_offshr_grounded,0.00
15,NO3,Wind_offshr_grounded,0.00
16,NO4,Wind_offshr_grounded,0.00
17,NO5,Wind_offshr_grounded,0.00
18,Portugal,Wind_offshr_grounded,9000.00
19,Lithuania,Wind_offshr_grounded,3600.00
20,Poland,Wind_offshr_grounded,27900.00
21,Sweden,Wind_offshr_grounded,19800.00
22,Moray Firth,Wind_offshr_grounded,6558.00
23,Firth of Forth,Wind_offshr_grounded,12636.00
24,Dogger Bank,Wind_offshr_grounded,19512.00
25,Hornsea,Wind_offshr_grounded,14466.00
26,Outer Dowsing,Wind_offshr_grounded,7518.00
27,Norfolk,Wind_offshr_grounded,9756.00
28,East Anglia,Wind_offshr_grounded,8106.00
29,Borssele,Wind_offshr_grounded,5858.30
30,Hollandsee Kust,Wind_offshr_grounded,7997.00
31,Helgoländer Bucht,Wind_offshr_grounded,27492.75
32,Nordsøen,Wind_offshr_grounded,24132.00
33,Moray Firth,Wind_offshr_floating,13974.00
34,Firth of Forth,Wind_offshr_floating,33294.00

Adjust and change only offshore wind in North Sea

Calculated from 6 MW/km2 based on https://www.sciencedirect.com/science/article/pii/S0360544222025403

In [16]:
EMPIRE_capacity_ow_ns = EMPIRE_capacity_ow.iloc[22:]
EMPIRE_capacity_ow_ns["area_km2"] = EMPIRE_capacity_ow_ns["generatorMaxInstallCapacity  in MW"] / 6
EMPIRE_capacity_ow_ns

/var/folders/rd/zf3y09wj69n3q6493fx5jmtr0000gn/T/ipykernel_75153/2702097068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EMPIRE_capacity_ow_ns["area_km2"] = EMPIRE_capacity_ow_ns["generatorMaxInstallCapacity  in MW"] / 6

,Node,GeneratorTechnology,generatorMaxInstallCapacity in MW,area_km2
22,Moray Firth,Wind_offshr_grounded,6558.00,1093.000000
23,Firth of Forth,Wind_offshr_grounded,12636.00,2106.000000
24,Dogger Bank,Wind_offshr_grounded,19512.00,3252.000000
25,Hornsea,Wind_offshr_grounded,14466.00,2411.000000
26,Outer Dowsing,Wind_offshr_grounded,7518.00,1253.000000
27,Norfolk,Wind_offshr_grounded,9756.00,1626.000000
28,East Anglia,Wind_offshr_grounded,8106.00,1351.000000
29,Borssele,Wind_offshr_grounded,5858.30,976.383333
30,Hollandsee Kust,Wind_offshr_grounded,7997.00,1332.833333
31,Helgoländer Bucht,Wind_offshr_grounded,27492.75,4582.125000
32,Nordsøen,Wind_offshr_grounded,24132.00,4022.000000
33,Moray Firth,Wind_offshr_floating,13974.00,2329.000000
34,Firth of Forth,Wind_offshr_floating,33294.00,5549.000000

Get areas of NO areas from NVE

In [19]:
NO_areas = gpd.read_file("Data/Havvind_IdentifiserteOmrader_2023.geojson")
NO_areas = NO_areas[["omradeNavn", "anleggType", "omradeAreal_km2"]]
NO_areas

     omradeNavn            anleggType  omradeAreal_km2
0    Nordvest A              Flytende            11307
1    Nordvest C              Flytende             5582
2   Vestavind A              Flytende             1884
3   Sønnavind A  Flytende og bunnfast             2900
4     Sørvest C              Bunnfast             1766
5    Nordvest B              Flytende             3437
6   Vestavind F              Flytende             1989
7     Sørvest E  Flytende og bunnfast             1016
8     Sørvest A  Flytende og bunnfast             1456
9   Vestavind B              Flytende             2985
10  Vestavind C              Flytende             1064
11  Vestavind D              Flytende              734
12    Sørvest F              Bunnfast             2702
13    Sørvest B              Bunnfast             2179
14  Nordavind B              Flytende             2239
15  Nordavind A              Flytende             4275
16  Nordavind D              Flytende             4112
17  Nordavind C              Flytende             1054
18  Vestavind E              Flytende             1475
19    Sørvest D  Flytende og bunnfast             1215

Handle grounded/floating tech

Sønnavind A more likely only floating; Sørvest A, D & E most likely grounded but floating possible [both incl] (source: NVE details)

In [31]:
NO_areas_tech = NO_areas.copy() 
NO_areas_tech.loc[NO_areas_tech["omradeNavn"] == "Sønnavind A", "anleggType"] = "Flytende"

# Sønnavind only floating
NO_both_techs = NO_areas_tech[NO_areas_tech["anleggType"] == "Flytende og bunnfast"]
both_techs_parks = list(NO_both_techs["omradeNavn"])

# Sørvest A, D & E both techs
df_floating_tech = NO_both_techs.copy()
df_grounded_tech = NO_both_techs.copy()
df_floating_tech["anleggType"] = "Flytende"
df_grounded_tech["anleggType"] = "Bunnfast"
NO_both_techs = pd.concat([df_floating_tech, df_grounded_tech])
NO_both_techs

# Merge together
NO_areas_tech = NO_areas_tech[~NO_areas_tech["omradeNavn"].isin(both_techs_parks)]
NO_areas_tech = pd.concat([NO_areas_tech, NO_both_techs]).reset_index(drop=True)
NO_areas_tech

     omradeNavn anleggType  omradeAreal_km2
0    Nordvest A   Flytende            11307
1    Nordvest C   Flytende             5582
2   Vestavind A   Flytende             1884
3   Sønnavind A   Flytende             2900
4     Sørvest C   Bunnfast             1766
5    Nordvest B   Flytende             3437
6   Vestavind F   Flytende             1989
7   Vestavind B   Flytende             2985
8   Vestavind C   Flytende             1064
9   Vestavind D   Flytende              734
10    Sørvest F   Bunnfast             2702
11    Sørvest B   Bunnfast             2179
12  Nordavind B   Flytende             2239
13  Nordavind A   Flytende             4275
14  Nordavind D   Flytende             4112
15  Nordavind C   Flytende             1054
16  Vestavind E   Flytende             1475
17    Sørvest E   Flytende             1016
18    Sørvest A   Flytende             1456
19    Sørvest D   Flytende             1215
20    Sørvest E   Bunnfast             1016
21    Sørvest A   Bunnfast             1456
22    Sørvest D   Bunnfast             1215

Change format to EMPIRE

In [32]:
NORWEGIAN_TO_EMPIRE_TECH = dict({
    "Flytende": "Wind_offshr_floating",
    "Bunnfast": "Wind_offshr_grouned"
})

NO_areas_tech["anleggType"] = NO_areas_tech["anleggType"].apply(lambda x: NORWEGIAN_TO_EMPIRE_TECH.get(x))
NO_areas_tech = NO_areas_tech.rename(columns={"omradeNavn": "Node", "omradeAreal_km2": "area_km2", "anleggType": "GeneratorTechnology"})
NO_areas_tech

           Node   GeneratorTechnology  area_km2
0    Nordvest A  Wind_offshr_floating     11307
1    Nordvest C  Wind_offshr_floating      5582
2   Vestavind A  Wind_offshr_floating      1884
3   Sønnavind A  Wind_offshr_floating      2900
4     Sørvest C   Wind_offshr_grouned      1766
5    Nordvest B  Wind_offshr_floating      3437
6   Vestavind F  Wind_offshr_floating      1989
7   Vestavind B  Wind_offshr_floating      2985
8   Vestavind C  Wind_offshr_floating      1064
9   Vestavind D  Wind_offshr_floating       734
10    Sørvest F   Wind_offshr_grouned      2702
11    Sørvest B   Wind_offshr_grouned      2179
12  Nordavind B  Wind_offshr_floating      2239
13  Nordavind A  Wind_offshr_floating      4275
14  Nordavind D  Wind_offshr_floating      4112
15  Nordavind C  Wind_offshr_floating      1054
16  Vestavind E  Wind_offshr_floating      1475
17    Sørvest E  Wind_offshr_floating      1016
18    Sørvest A  Wind_offshr_floating      1456
19    Sørvest D  Wind_offshr_floating      1215
20    Sørvest E   Wind_offshr_grouned      1016
21    Sørvest A   Wind_offshr_grouned      1456
22    Sørvest D   Wind_offshr_grouned      1215

Merge together existing EMPIRE North Sea areas and NO areas and calculate Max Capacity (MW) based on density capacity from NVE

Source: https://veiledere.nve.no/havvind/identifisering-av-utredningsomrader-for-havvind/metode-og-vurderinger/arealbehov-for-30-gw/

In [34]:
CAPACITY_DENSITY_BASE = 5 # MW/km2
CAPACITY_DENSITY_LOW = 3.5 # MW/km2
CAPACITY_DENSITY_HIGH = 7.5 # MW/km2

In [45]:
OW_areas_ns = pd.concat([EMPIRE_capacity_ow_ns, NO_areas_tech], ignore_index=True)
OW_areas_ns = OW_areas_ns[["Node", "GeneratorTechnology", "area_km2"]]

OW_areas_ns_high = OW_areas_ns.copy()
OW_areas_ns_high["generatorMaxInstallCapacity in MW"] = OW_areas_ns_high["area_km2"] * CAPACITY_DENSITY_HIGH
OW_areas_ns_high

OW_areas_ns_low = OW_areas_ns.copy()
OW_areas_ns_low["generatorMaxInstallCapacity in MW"] = OW_areas_ns_low["area_km2"] * CAPACITY_DENSITY_LOW
OW_areas_ns_low

OW_areas_ns_base = OW_areas_ns.copy()
OW_areas_ns_base["generatorMaxInstallCapacity in MW"] = OW_areas_ns_base["area_km2"] * CAPACITY_DENSITY_BASE
OW_areas_ns_base

,Node,GeneratorTechnology,area_km2,generatorMaxInstallCapacity in MW
0,Moray Firth,Wind_offshr_grounded,1093.000000,5465.000000
1,Firth of Forth,Wind_offshr_grounded,2106.000000,10530.000000
2,Dogger Bank,Wind_offshr_grounded,3252.000000,16260.000000
3,Hornsea,Wind_offshr_grounded,2411.000000,12055.000000
4,Outer Dowsing,Wind_offshr_grounded,1253.000000,6265.000000
5,Norfolk,Wind_offshr_grounded,1626.000000,8130.000000
6,East Anglia,Wind_offshr_grounded,1351.000000,6755.000000
7,Borssele,Wind_offshr_grounded,976.383333,4881.916667
8,Hollandsee Kust,Wind_offshr_grounded,1332.833333,6664.166667
9,Helgoländer Bucht,Wind_offshr_grounded,4582.125000,22910.625000
10,Nordsøen,Wind_offshr_grounded,4022.000000,20110.000000
11,Moray Firth,Wind_offshr_floating,2329.000000,11645.000000
12,Firth of Forth,Wind_offshr_floating,5549.000000,27745.000000
13,Nordvest A,Wind_offshr_floating,11307.000000,56535.000000
14,Nordvest C,Wind_offshr_floating,5582.000000,27910.000000
15,Vestavind A,Wind_offshr_floating,1884.000000,9420.000000
16,Sønnavind A,Wind_offshr_floating,2900.000000,14500.000000
17,Sørvest C,Wind_offshr_grouned,1766.000000,8830.000000
18,Nordvest B,Wind_offshr_floating,3437.000000,17185.000000
19,Vestavind F,Wind_offshr_floating,1989.000000,9945.000000
20,Vestavind B,Wind_offshr_floating,2985.000000,14925.000000
21,Vestavind C,Wind_offshr_floating,1064.000000,5320.000000
22,Vestavind D,Wind_offshr_floating,734.000000,3670.000000
23,Sørvest F,Wind_offshr_grouned,2702.000000,13510.000000
24,Sørvest B,Wind_offshr_grouned,2179.000000,10895.000000
25,Nordavind B,Wind_offshr_floating,2239.000000,11195.000000
26,Nordavind A,Wind_offshr_floating,4275.000000,21375.000000
27,Nordavind D,Wind_offshr_floating,4112.000000,20560.000000
28,Nordavind C,Wind_offshr_floating,1054.000000,5270.000000
29,Vestavind E,Wind_offshr_floating,1475.000000,7375.000000
30,Sørvest E,Wind_offshr_floating,1016.000000,5080.000000
31,Sørvest A,Wind_offshr_floating,1456.000000,7280.000000
32,Sørvest D,Wind_offshr_floating,1215.000000,6075.000000
33,Sørvest E,Wind_offshr_grouned,1016.000000,5080.000000
34,Sørvest A,Wind_offshr_grouned,1456.000000,7280.000000
35,Sørvest D,Wind_offshr_grouned,1215.000000,6075.000000

Export CSV

In [46]:
OW_areas_ns_base.to_csv("Output/offshore_capacities_base.csv", index=False, encoding="utf-8-sig")
OW_areas_ns_low.to_csv("Output/offshore_capacities_low.csv", index=False, encoding="utf-8-sig")
OW_areas_ns_high.to_csv("Output/offshore_capacities_high.csv", index=False, encoding="utf-8-sig")