### Calculate distance from shore (offshore/onshore-converting point) to existing transmission points

In [26]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [27]:
shore_nodes = gpd.read_file("Output/offshore_to_onshore_nodes.csv")
shore_nodes["geometry"] = gpd.points_from_xy(x=shore_nodes["Longitude"], y=shore_nodes["Latitude"], crs="EPSG:4326")
shore_nodes = shore_nodes.to_crs("EPSG:25833")
shore_nodes = shore_nodes[["newOnshoreNode", "toNode", "geometry"]]
shore_nodes

,newOnshoreNode,toNode,geometry
0,Moray Firth-Great Brit.,Great Brit.,POINT (-556740.676 6610078.994)
1,Firth of Forth-Great Brit.,Great Brit.,POINT (-582943.009 6378436.337)
2,Dogger Bank-Great Brit.,Great Brit.,POINT (-483333.958 6104115.299)
3,Hornsea-Great Brit.,Great Brit.,POINT (-424343.409 5955927.603)
4,Outer Dowsing-Great Brit.,Great Brit.,POINT (-452410.779 5965405.332)
5,Norfolk-Great Brit.,Great Brit.,POINT (-397115.047 5926880.673)
6,East Anglia-Great Brit.,Great Brit.,POINT (-416614.006 5857652.833)
7,Borssele-Belgium,Belgium,POINT (-322224.948 5755990.384)
8,Borssele-Netherlands,Netherlands,POINT (-281117.938 5789100.576)
9,Hollandsee Kust-Netherlands,Netherlands,POINT (-217202.915 5846148.777)
10,Helgoländer Bucht-Netherlands,Netherlands,POINT (-57529.303 5965698.509)
11,Helgoländer Bucht-Germany,Germany,POINT (34856.044 6028400.642)
12,Nordsøen-Denmark,Denmark,POINT (73667.153 6248194.869)
13,Energyhub EU-NO2,NO2,POINT (31544.915 6454591.620)
14,Energyhub EU-Great Brit.,Great Brit.,POINT (-407463.239 5941368.934)
15,Energyhub EU-Denmark,Denmark,POINT (64892.529 6177949.307)
16,Energyhub EU-Netherlands,Netherlands,POINT (-85461.859 5964543.435)
17,Energyhub EU-Belgium,Belgium,POINT (-209702.427 5755293.655)
18,Nordvest A-NO4,NO4,POINT (349692.184 7325276.665)
19,Nordvest C-NO3,NO3,POINT (141191.526 7055775.055)
20,Vestavind A-NO3,NO3,POINT (-33297.973 6899032.005)
21,Sønnavind A-NO2,NO2,POINT (56738.650 6449013.672)
22,Sørvest C-NO2,NO2,POINT (-30613.467 6511974.979)
23,Nordvest B-NO3,NO3,POINT (182393.157 7100443.924)
24,Vestavind F-NO2,NO2,POINT (-76891.215 6615566.194)
25,Sørvest E-NO2,NO2,POINT (-30596.695 6512097.855)
26,Sørvest A-NO2,NO2,POINT (-40565.067 6525944.845)
27,Vestavind B-NO5,NO5,POINT (-65088.135 6812240.987)
28,Vestavind C-NO5,NO5,POINT (-113301.086 6723636.549)
29,Vestavind D-NO5,NO5,POINT (-56207.038 6730650.518)
30,Sørvest F-NO2,NO2,POINT (8207.547 6467140.094)
31,Sørvest B-NO2,NO2,POINT (-31030.054 6511812.425)
32,Nordavind B-NO4,NO4,POINT (953353.638 7938462.158)
33,Nordavind A-NO4,NO4,POINT (1073854.760 7900850.596)
34,Nordavind D-NO4,NO4,POINT (672786.624 7803702.569)
35,Nordavind C-NO4,NO4,POINT (756248.160 7853558.539)
36,Vestavind E-NO2,NO2,POINT (-76891.215 6615566.194)
37,Sørvest D-NO2,NO2,POINT (8036.869 6467098.680)

Coords of existing transmission points

In [28]:
EMPIRE_nodes_lon = pd.read_excel("Data/Node.xlsx", sheet_name="Longitude", header=2)
EMPIRE_nodes_lat = pd.read_excel("Data/Node.xlsx", sheet_name="Latitude", header=2)
EMPIRE_nodes = EMPIRE_nodes_lon.merge(EMPIRE_nodes_lat, on="Node")
EMPIRE_nodes["geometry"] = gpd.points_from_xy(x=EMPIRE_nodes["Longitude"], y=EMPIRE_nodes["Latitude"])
EMPIRE_nodes = gpd.GeoDataFrame(EMPIRE_nodes, crs="EPSG:4326")
EMPIRE_nodes = EMPIRE_nodes.to_crs("EPSG:25833")
EMPIRE_nodes

                  Node  Longitude   Latitude                          geometry
0              Austria  14.430000  47.460000    POINT (457038.809 5256441.760)
1             Bosnia H  17.810000  44.060000    POINT (725065.181 4882376.507)
2              Belgium   4.600000  50.720000   POINT (-233330.788 5670463.302)
3             Bulgaria  25.250000  42.710000   POINT (1339724.705 4779845.144)
4          Switzerland   8.150000  46.820000    POINT (-22441.596 5207987.953)
5              Czech R  15.110000  49.870000    POINT (507904.614 5524182.673)
6              Germany  10.540000  51.040000    POINT (187378.813 5663742.903)
7              Denmark   9.220000  56.170000    POINT (141329.918 6240049.455)
8              Estonia  25.260000  58.790000   POINT (1091566.525 6562156.452)
9                Spain  -3.150000  40.310000  POINT (-1046170.201 4623537.065)
10             Finland  26.770000  63.900000   POINT (1075246.335 7139191.191)
11              France   2.520000  46.740000   POINT (-452888.989 5252435.157)
12         Great Brit.  -1.260000  52.670000   POINT (-595437.701 5960618.815)
13              Greece  21.830000  39.130000   POINT (1090623.420 4353477.502)
14             Croatia  16.710000  45.580000    POINT (633407.132 5048806.414)
15             Hungary  18.820000  46.990000    POINT (790457.108 5211138.206)
16             Ireland  -8.070000  53.090000  POINT (-1032349.259 6134828.771)
17               Italy  10.960000  44.400000    POINT (178274.762 4924244.237)
18           Lithuania  24.170000  55.300000   POINT (1081324.365 6166557.067)
19             Luxemb.   6.120000  49.750000   POINT (-139268.071 5548784.574)
20              Latvia  25.620000  56.850000   POINT (1146229.039 6351062.627)
21           Macedonia  21.700000  41.570000   POINT (1058750.356 4623765.682)
22         Netherlands   5.540000  52.140000   POINT (-146670.852 5818927.112)
23                 NO1  10.710000  60.110000    POINT (261620.776 6671404.370)
24                 NO2   7.320000  59.040000     POINT (59901.826 6569857.524)
25                 NO3  10.530000  63.090000    POINT (274415.658 7003469.221)
26                 NO4  16.850000  68.270000    POINT (576427.177 7574113.700)
27                 NO5   6.280000  60.680000     POINT (24596.017 6758777.856)
28              Poland  19.330000  52.160000    POINT (796126.201 5787678.194)
29            Portugal  -8.320000  39.740000  POINT (-1507118.061 4668220.862)
30             Romania  24.960000  46.010000   POINT (1270937.794 5143609.169)
31              Serbia  20.650000  44.250000    POINT (951096.699 4915186.038)
32              Sweden  15.500000  62.670000    POINT (525611.548 6948921.726)
33            Slovenia  14.740000  46.070000    POINT (479893.004 5101857.876)
34            Slovakia  19.360000  48.680000    POINT (820899.786 5401062.082)
35         Moray Firth  -2.990229  58.170702   POINT (-550382.221 6589636.681)
36      Firth of Forth  -2.047535  56.363729   POINT (-547016.494 6377809.984)
37         Dogger Bank   2.333333  54.833333   POINT (-311348.707 6150061.633)
38             Hornsea   1.845196  53.820112   POINT (-363643.253 6044135.822)
39       Outer Dowsing   0.905074  53.311186   POINT (-436309.630 6000047.419)
40             Norfolk   2.168638  52.782831   POINT (-363440.248 5925669.401)
41         East Anglia   1.883496  51.890054   POINT (-400723.386 5830562.425)
42            Borssele   3.197221  51.957807   POINT (-309616.206 5822431.844)
43     Hollandsee Kust   4.008061  52.462704   POINT (-245595.575 5869521.124)
44   Helgoländer Bucht   7.167722  54.322931     POINT (-8909.976 6047781.867)
45            Nordsøen   7.035800  56.279961      POINT (7499.569 6265784.107)
46         Utsira Nord   4.540600  59.276200    POINT (-94501.912 6617653.031)
47   Sørlige Nordsjø I   3.634890  57.450060   POINT (-180145.270 6424643.204)
48  Sørlige Nordsjø II   4.936300  56.746100   POINT (-114232.025 6334420.429)
49        Energyhub EU   5.673700  55.072580    POINT (-94598.068 6142690.189)

In [29]:
def get_dist(shore_coords, onshore_node):
    min_dist = np.inf
    for _, country_row in EMPIRE_nodes.iterrows():
        if country_row["Node"] != onshore_node:
            continue
        onshore_polygon = country_row["geometry"]
        dist = onshore_polygon.distance(shore_coords)
        if dist < min_dist:
            min_dist = dist
    min_dist = min_dist / 1000  #from m to km
    return dict({"dist": min_dist})

In [30]:
shore_nodes[["dist"]] = shore_nodes.apply(lambda row: get_dist(row["geometry"], row["toNode"]), axis="columns", result_type="expand")
shore_nodes = shore_nodes.drop(columns=["geometry"])
shore_nodes

                   newOnshoreNode       toNode        dist
0         Moray Firth-Great Brit.  Great Brit.  650.612007
1      Firth of Forth-Great Brit.  Great Brit.  418.004305
2         Dogger Bank-Great Brit.  Great Brit.  182.094728
3             Hornsea-Great Brit.  Great Brit.  171.158593
4       Outer Dowsing-Great Brit.  Great Brit.  143.106992
5             Norfolk-Great Brit.  Great Brit.  201.171909
6         East Anglia-Great Brit.  Great Brit.  206.348994
7                Borssele-Belgium      Belgium  123.357422
8            Borssele-Netherlands  Netherlands  137.715799
9     Hollandsee Kust-Netherlands  Netherlands   75.602851
10  Helgoländer Bucht-Netherlands  Netherlands  171.720874
11      Helgoländer Bucht-Germany      Germany  395.270113
12               Nordsøen-Denmark      Denmark   68.151284
13               Energyhub EU-NO2          NO2  118.702751
14       Energyhub EU-Great Brit.  Great Brit.  188.957551
15           Energyhub EU-Denmark      Denmark   98.484023
16       Energyhub EU-Netherlands  Netherlands  157.957761
17           Energyhub EU-Belgium      Belgium   88.059572
18                 Nordvest A-NO4          NO4  336.643175
19                 Nordvest C-NO3          NO3  143.124315
20                Vestavind A-NO3          NO3  324.953551
21                Sønnavind A-NO2          NO2  120.885244
22                  Sørvest C-NO2          NO2  107.440250
23                 Nordvest B-NO3          NO3  133.687074
24                Vestavind F-NO2          NO2  144.227663
25                  Sørvest E-NO2          NO2  107.359964
26                  Sørvest A-NO2          NO2  109.644516
27                Vestavind B-NO5          NO5  104.410504
28                Vestavind C-NO5          NO5  142.304330
29                Vestavind D-NO5          NO5   85.558640
30                  Sørvest F-NO2          NO2  114.992038
31                  Sørvest B-NO2          NO2  107.878822
32                Nordavind B-NO4          NO4  524.235974
33                Nordavind A-NO4          NO4  595.139647
34                Nordavind D-NO4          NO4  248.990345
35                Nordavind C-NO4          NO4  332.302579
36                Vestavind E-NO2          NO2  144.227663
37                  Sørvest D-NO2          NO2  115.105837

Export CSV

In [31]:
shore_nodes.to_csv("Output/shore_to_main_transmission.csv", index=False, encoding='utf-8-sig')