#### Directional lines (transmission lines) between OW areas

In [1]:
import pandas as pd 
import numpy as np

Offshore to offshore - keep only lines where distance is less than 750 km (Nordavind D-Nordvest A = 701 km; want to keep)

Type of cable: HVDC_Cable

In [2]:
offshr_to_offshr = pd.read_csv("../Output/dist_offshore_areas_scaled.csv")
offshr_to_offshr

                Node            to_Node     distance
0        Moray Firth     Firth of Forth   215.667240
1        Moray Firth        Dogger Bank   509.370695
2     Firth of Forth        Dogger Bank   333.632410
3        Moray Firth            Hornsea   586.957998
4     Firth of Forth            Hornsea   387.595780
..               ...                ...          ...
556      Nordavind D  Energyhub Central  1902.799973
557      Nordavind C  Energyhub Central  1952.601183
558      Vestavind E  Energyhub Central   350.432937
559        Sørvest D  Energyhub Central    58.765643
560  Energyhub North  Energyhub Central   293.678213

[561 rows x 3 columns]

In [3]:
offshr_to_offshr = offshr_to_offshr[offshr_to_offshr["distance"] < 750]
offshr_to_offshr["LineType"] = "HVDC_Cable"
offshr_to_offshr

/var/folders/rd/zf3y09wj69n3q6493fx5jmtr0000gn/T/ipykernel_91886/1657736153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offshr_to_offshr["LineType"] = "HVDC_Cable"

                Node            to_Node    distance    LineType
0        Moray Firth     Firth of Forth  215.667240  HVDC_Cable
1        Moray Firth        Dogger Bank  509.370695  HVDC_Cable
2     Firth of Forth        Dogger Bank  333.632410  HVDC_Cable
3        Moray Firth            Hornsea  586.957998  HVDC_Cable
4     Firth of Forth            Hornsea  387.595780  HVDC_Cable
..               ...                ...         ...         ...
552        Sørvest F  Energyhub Central  132.724346  HVDC_Cable
553        Sørvest B  Energyhub Central  148.124593  HVDC_Cable
558      Vestavind E  Energyhub Central  350.432937  HVDC_Cable
559        Sørvest D  Energyhub Central   58.765643  HVDC_Cable
560  Energyhub North  Energyhub Central  293.678213  HVDC_Cable

[342 rows x 4 columns]

Offshore to onshore

LineType: HVDC_OffshoreToOnshore

In [5]:
# ONLY TO SHORE offshr_to_onshr = pd.read_csv("../Output/offshore_to_onshore_nodes_scaled.csv")
offshr_to_onshr = pd.read_csv("../Output/offshore_to_onshore_main_transmission.csv") # To center of onshore area (more realistic?)
offshr_to_onshr = offshr_to_onshr[["fromNode", "toNode", "dist"]]
offshr_to_onshr["LineType"] = "HVDC_OffshoreToOnshore"
offshr_to_onshr

             fromNode       toNode        dist                LineType
0         Moray Firth  Great Brit.  641.982074  HVDC_OffshoreToOnshore
1      Firth of Forth  Great Brit.  427.552497  HVDC_OffshoreToOnshore
2         Dogger Bank  Great Brit.  347.607301  HVDC_OffshoreToOnshore
3             Hornsea  Great Brit.  250.816702  HVDC_OffshoreToOnshore
4       Outer Dowsing  Great Brit.  166.891368  HVDC_OffshoreToOnshore
5             Norfolk  Great Brit.  238.838737  HVDC_OffshoreToOnshore
6         East Anglia  Great Brit.  238.369769  HVDC_OffshoreToOnshore
7            Borssele      Belgium  173.101978  HVDC_OffshoreToOnshore
8            Borssele  Netherlands  165.917077  HVDC_OffshoreToOnshore
9     Hollandsee Kust  Netherlands  113.112149  HVDC_OffshoreToOnshore
10  Helgoländer Bucht  Netherlands  271.927697  HVDC_OffshoreToOnshore
11  Helgoländer Bucht      Germany  439.059020  HVDC_OffshoreToOnshore
12           Nordsøen      Denmark  138.735552  HVDC_OffshoreToOnshore
13         Nordvest A          NO4  393.999883  HVDC_OffshoreToOnshore
14         Nordvest C          NO3  212.480684  HVDC_OffshoreToOnshore
15        Vestavind A          NO3  379.504981  HVDC_OffshoreToOnshore
16        Sønnavind A          NO2  173.063284  HVDC_OffshoreToOnshore
17          Sørvest C          NO2  308.552866  HVDC_OffshoreToOnshore
18         Nordvest B          NO3  244.981273  HVDC_OffshoreToOnshore
19        Vestavind F          NO2  167.863102  HVDC_OffshoreToOnshore
20          Sørvest E          NO2  237.226359  HVDC_OffshoreToOnshore
21          Sørvest A          NO2  259.766777  HVDC_OffshoreToOnshore
22        Vestavind B          NO3  434.848315  HVDC_OffshoreToOnshore
23        Vestavind C          NO5  141.649633  HVDC_OffshoreToOnshore
24        Vestavind D          NO5  113.301043  HVDC_OffshoreToOnshore
25          Sørvest F          NO2  292.954361  HVDC_OffshoreToOnshore
26          Sørvest B          NO2  305.996557  HVDC_OffshoreToOnshore
27        Nordavind B          NO4  580.216469  HVDC_OffshoreToOnshore
28        Nordavind A          NO4  678.015635  HVDC_OffshoreToOnshore
29        Nordavind D          NO4  369.063427  HVDC_OffshoreToOnshore
30        Nordavind C          NO4  411.402051  HVDC_OffshoreToOnshore
31        Vestavind E          NO2  203.189864  HVDC_OffshoreToOnshore
32          Sørvest D          NO2  361.375767  HVDC_OffshoreToOnshore
33       Energyhub EU          NO2  462.426427  HVDC_OffshoreToOnshore
34       Energyhub EU  Great Brit.  542.500872  HVDC_OffshoreToOnshore
35       Energyhub EU      Denmark  259.821659  HVDC_OffshoreToOnshore
36       Energyhub EU  Netherlands  333.827248  HVDC_OffshoreToOnshore
37       Energyhub EU      Belgium  501.044249  HVDC_OffshoreToOnshore
38    Energyhub North          NO2  355.199524  HVDC_OffshoreToOnshore
39    Energyhub North  Great Brit.  681.400749  HVDC_OffshoreToOnshore
40    Energyhub North      Denmark  542.981701  HVDC_OffshoreToOnshore
41    Energyhub North  Netherlands  763.711678  HVDC_OffshoreToOnshore
42    Energyhub North      Belgium  902.794956  HVDC_OffshoreToOnshore
43  Energyhub Central          NO2  420.105140  HVDC_OffshoreToOnshore
44  Energyhub Central  Great Brit.  491.825549  HVDC_OffshoreToOnshore
45  Energyhub Central      Denmark  376.970459  HVDC_OffshoreToOnshore
46  Energyhub Central  Netherlands  470.165660  HVDC_OffshoreToOnshore
47  Energyhub Central      Belgium  614.084832  HVDC_OffshoreToOnshore

Same format and combine

In [6]:
offshr_to_offshr = offshr_to_offshr.rename(columns={"Node": "FromNode", "to_Node": "ToNode", "distance": "lineLength in km"})
offshr_to_onshr = offshr_to_onshr.rename(columns={"fromNode": "FromNode", "toNode": "ToNode", "dist": "lineLength in km"})
directional_lines = pd.concat([offshr_to_offshr, offshr_to_onshr], ignore_index=True).reset_index(drop=True)
directional_lines

,FromNode,ToNode,lineLength in km,LineType
0,Moray Firth,Firth of Forth,215.667240,HVDC_Cable
1,Moray Firth,Dogger Bank,509.370695,HVDC_Cable
2,Firth of Forth,Dogger Bank,333.632410,HVDC_Cable
3,Moray Firth,Hornsea,586.957998,HVDC_Cable
4,Firth of Forth,Hornsea,387.595780,HVDC_Cable
...,...,...,...,...
385,Energyhub Central,NO2,420.105140,HVDC_OffshoreToOnshore
386,Energyhub Central,Great Brit.,491.825549,HVDC_OffshoreToOnshore
387,Energyhub Central,Denmark,376.970459,HVDC_OffshoreToOnshore
388,Energyhub Central,Netherlands,470.165660,HVDC_OffshoreToOnshore
389,Energyhub Central,Belgium,614.084832,HVDC_OffshoreToOnshore

Export CSV

In [7]:
directional_lines.to_csv("../Output/directional_lines.csv", index=False, encoding="utf-8-sig")