### Alter and update EMPIRE Input - Generator.xlsx

*Updated data for OpenEMPIRE but structure the same for Public-EMPIRE (which incl. hydrogen)*

In [1]:
import pandas as pd

#### Tabs 

Where data is the same but Public incl. hydrogen where relevant: 
* CapitalCosts
* FixedOMCosts
* VariableOMCosts
* FuelCosts
* CCSCostTSVariable
* Efficiency
* ScaleFactorInitialCap
* InitialCapacity
* MaxBuiltCapacity
* RampRate
* GeneratorTypeAvailability
* CO2Content
* Lifetime

--> Use OpenEMPIRE for now since we exclude hydrogen

**Use Public-EMPIRE as base and get updated data from OpenEMPIRE and adjust with new offshore areas for:**
* RefInitialCap
* MaxInstalledCap

#### Tab: RefInitialCap

OpenEMPIRE with updated data, but need to replace/add missing OW nodes in the North Sea

In [2]:
ref_initial_cap_tab = pd.read_excel("../Data/Data_OpenEMPIRE/Generator.xlsx", sheet_name="RefInitialCap", header=2)\
    [["Node", "GeneratorTechnology", "generatoReferenceInitialCapacity in MW"]]
ref_initial_cap_tab

,Node,GeneratorTechnology,generatoReferenceInitialCapacity in MW
0,Austria,Coal existing,150.0
1,Austria,Gas existing,4350.0
2,Austria,Oil existing,164.0
3,Austria,Bio existing,482.0
4,Austria,Hydro regulated,2475.0
...,...,...,...
315,Belgium,Wind offshore floating,0.0
316,Germany,Wind offshore floating,0.0
317,Denmark,Wind offshore floating,0.0
318,Great Brit.,Wind offshore floating,0.0
319,Netherlands,Wind offshore floating,0.0

NOTE: In OpenEMPIRE no special letters (æøå ...)

Also need to update Helgoländer Bucht manually for consistency

In [3]:
def rename_nodes(node_name):
    if node_name == "Helgolander Bücht" or node_name == "Helgolander Bucht":
        return "Helgoländer Bucht"
    elif node_name == "Nordsoen":
        return "Nordsøen"
    else:
        return node_name
    
NODES_TO_BE_REMOVED = ["Utsira Nord", "Sorlige Nordsjo I", "Sorlige Nordsjo II"]
    
ref_initial_cap_tab["Node"] = ref_initial_cap_tab["Node"].apply(lambda n_name: rename_nodes(n_name))
ref_initial_cap_tab = ref_initial_cap_tab[~ref_initial_cap_tab["Node"].isin(NODES_TO_BE_REMOVED)].reset_index(drop=True)
ref_initial_cap_tab["Node"].unique()

array(['Austria', 'Bosnia H', 'Belgium', 'Bulgaria', 'Switzerland',
       'Czech R', 'Germany', 'Denmark', 'Estonia', 'Spain', 'Finland',
       'France', 'Great Brit.', 'Greece', 'Croatia', 'Hungary', 'Ireland',
       'Italy', 'Lithuania', 'Luxemb.', 'Latvia', 'Macedonia',
       'Netherlands', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Sweden',
       'Slovenia', 'Slovakia', 'NO1', 'NO2', 'NO3', 'NO4', 'NO5',
       'Moray Firth', 'Firth of Forth', 'Dogger Bank', 'Hornsea',
       'Outer Dowsing', 'Norfolk', 'East Anglia', 'Borssele',
       'Hollandsee Kust', 'Helgoländer Bucht', 'Nordsøen'], dtype=object)

In [4]:
ow_nodes = pd.read_csv("../Output/offshore_capacities_base.csv")
ow_nodes

,Node,GeneratorTechnology,area_km2,generatorMaxInstallCapacity in MW
0,Moray Firth,Wind_offshr_grounded,1093.000000,5465.000000
1,Firth of Forth,Wind_offshr_grounded,2106.000000,10530.000000
2,Dogger Bank,Wind_offshr_grounded,3252.000000,16260.000000
3,Hornsea,Wind_offshr_grounded,2411.000000,12055.000000
4,Outer Dowsing,Wind_offshr_grounded,1253.000000,6265.000000
5,Norfolk,Wind_offshr_grounded,1626.000000,8130.000000
6,East Anglia,Wind_offshr_grounded,1351.000000,6755.000000
7,Borssele,Wind_offshr_grounded,976.383333,4881.916667
8,Hollandsee Kust,Wind_offshr_grounded,1332.833333,6664.166667
9,Helgoländer Bucht,Wind_offshr_grounded,4582.125000,22910.625000
10,Nordsøen,Wind_offshr_grounded,4022.000000,20110.000000
11,Moray Firth,Wind_offshr_floating,2329.000000,11645.000000
12,Firth of Forth,Wind_offshr_floating,5549.000000,27745.000000
13,Nordvest A,Wind_offshr_floating,11307.000000,56535.000000
14,Nordvest C,Wind_offshr_floating,5582.000000,27910.000000
15,Vestavind A,Wind_offshr_floating,1884.000000,9420.000000
16,Sønnavind A,Wind_offshr_floating,2900.000000,14500.000000
17,Sørvest C,Wind_offshr_grounded,1766.000000,8830.000000
18,Nordvest B,Wind_offshr_floating,3437.000000,17185.000000
19,Vestavind F,Wind_offshr_floating,1989.000000,9945.000000
20,Vestavind B,Wind_offshr_floating,2985.000000,14925.000000
21,Vestavind C,Wind_offshr_floating,1064.000000,5320.000000
22,Vestavind D,Wind_offshr_floating,734.000000,3670.000000
23,Sørvest F,Wind_offshr_grounded,2702.000000,13510.000000
24,Sørvest B,Wind_offshr_grounded,2179.000000,10895.000000
25,Nordavind B,Wind_offshr_floating,2239.000000,11195.000000
26,Nordavind A,Wind_offshr_floating,4275.000000,21375.000000
27,Nordavind D,Wind_offshr_floating,4112.000000,20560.000000
28,Nordavind C,Wind_offshr_floating,1054.000000,5270.000000
29,Vestavind E,Wind_offshr_floating,1475.000000,7375.000000
30,Sørvest E,Wind_offshr_floating,1016.000000,5080.000000
31,Sørvest A,Wind_offshr_floating,1456.000000,7280.000000
32,Sørvest D,Wind_offshr_floating,1215.000000,6075.000000
33,Sørvest E,Wind_offshr_grounded,1016.000000,5080.000000
34,Sørvest A,Wind_offshr_grounded,1456.000000,7280.000000
35,Sørvest D,Wind_offshr_grounded,1215.000000,6075.000000

Remove nodes to be updated

In [5]:
offshr_areas_replaced = set(ow_nodes["Node"].values).difference(ref_initial_cap_tab["Node"].values)
offshr_areas_replaced

{'Nordavind A',
 'Nordavind B',
 'Nordavind C',
 'Nordavind D',
 'Nordvest A',
 'Nordvest B',
 'Nordvest C',
 'Sønnavind A',
 'Sørvest A',
 'Sørvest B',
 'Sørvest C',
 'Sørvest D',
 'Sørvest E',
 'Sørvest F',
 'Vestavind A',
 'Vestavind B',
 'Vestavind C',
 'Vestavind D',
 'Vestavind E',
 'Vestavind F'}

In [6]:
ref_initial_cap_tab = ref_initial_cap_tab[~ref_initial_cap_tab["Node"].isin(offshr_areas_replaced)].reset_index(drop=True)
ref_initial_cap_tab

,Node,GeneratorTechnology,generatoReferenceInitialCapacity in MW
0,Austria,Coal existing,150.0
1,Austria,Gas existing,4350.0
2,Austria,Oil existing,164.0
3,Austria,Bio existing,482.0
4,Austria,Hydro regulated,2475.0
...,...,...,...
311,Belgium,Wind offshore floating,0.0
312,Germany,Wind offshore floating,0.0
313,Denmark,Wind offshore floating,0.0
314,Great Brit.,Wind offshore floating,0.0
315,Netherlands,Wind offshore floating,0.0

Nodes to be added

In [7]:
TECH_MAPPING = dict({
    "Wind_offshr_grounded": "Wind offshore grounded",
    "Wind_offshr_floating": "Wind offshore floating"
})

ow_areas_added = ow_nodes.copy().drop(columns=["area_km2"])\
    .rename(columns={"generatorMaxInstallCapacity in MW": "generatoReferenceInitialCapacity in MW"})
ow_areas_added = ow_areas_added[ow_areas_added["Node"].isin(offshr_areas_replaced)]
ow_areas_added["GeneratorTechnology"] = ow_areas_added["GeneratorTechnology"].apply(lambda x: TECH_MAPPING.get(x))
ow_areas_added["generatoReferenceInitialCapacity in MW"] = 0
ref_initial_cap_tab = pd.concat([ref_initial_cap_tab, ow_areas_added], ignore_index=True)
ref_initial_cap_tab

          Node     GeneratorTechnology  generatoReferenceInitialCapacity in MW
0      Austria           Coal existing                                   150.0
1      Austria            Gas existing                                  4350.0
2      Austria            Oil existing                                   164.0
3      Austria            Bio existing                                   482.0
4      Austria         Hydro regulated                                  2475.0
..         ...                     ...                                     ...
334  Sørvest A  Wind offshore floating                                     0.0
335  Sørvest D  Wind offshore floating                                     0.0
336  Sørvest E  Wind offshore grounded                                     0.0
337  Sørvest A  Wind offshore grounded                                     0.0
338  Sørvest D  Wind offshore grounded                                     0.0

[339 rows x 3 columns]

#### Tab: MaxInstalledCapacity

Use OpenEMPIRE (updated), but add Hydrogen from Public-EMPIRE and update offshore North Sea nodes

In [8]:
max_installed_cap_tab = pd.read_excel("../Data/Data_OpenEMPIRE/Generator.xlsx", sheet_name="MaxInstalledCapacity", header=2)\
                .drop(columns=["Unnamed: 3", "Unnamed: 4", "NREAP (2020 number + 20%)"])
max_installed_cap_tab

            Node GeneratorTechnology  generatorMaxInstallCapacity  in MW
0        Austria                 Bio                            200000.0
1        Belgium                 Bio                            200000.0
2       Bulgaria                 Bio                            200000.0
3    Switzerland                 Bio                            200000.0
4        Czech R                 Bio                            200000.0
..           ...                 ...                                 ...
509      Romania             Nuclear                            200000.0
510       Serbia             Nuclear                            200000.0
511       Sweden             Nuclear                            200000.0
512     Slovenia             Nuclear                            200000.0
513     Slovakia             Nuclear                            200000.0

[514 rows x 3 columns]

Update node names for consistency

In [9]:
max_installed_cap_tab["Node"] = max_installed_cap_tab["Node"].apply(lambda n_name: rename_nodes(n_name))
max_installed_cap_tab = max_installed_cap_tab[~max_installed_cap_tab["Node"].isin(NODES_TO_BE_REMOVED)].reset_index(drop=True)
max_installed_cap_tab["Node"].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Switzerland', 'Czech R',
       'Germany', 'Denmark', 'Estonia', 'Spain', 'Finland', 'France',
       'Great Brit.', 'Greece', 'Hungary', 'Ireland', 'Italy',
       'Lithuania', 'Luxemb.', 'Latvia', 'Netherlands', 'Poland',
       'Portugal', 'Romania', 'Sweden', 'Slovenia', 'Slovakia',
       'Bosnia H', 'Croatia', 'Macedonia', 'NO1', 'NO2', 'NO3', 'NO4',
       'NO5', 'Serbia', 'Moray Firth', 'Firth of Forth', 'Dogger Bank',
       'Hornsea', 'Outer Dowsing', 'Norfolk', 'East Anglia', 'Borssele',
       'Hollandsee Kust', 'Helgoländer Bucht', 'Nordsøen'], dtype=object)

SKIPPED: Add Hydrogen capacities from Public-EMPIRE

In [10]:
""" public_max_installed_cap = pd.read_excel("../Data/Data_EMPIRE-Public/Generator.xlsx", sheet_name="MaxInstalledCapacity", header=2)\
                .drop(columns=["Unnamed: 3", "Unnamed: 4", "NREAP (2020 number + 20%)"])
public_max_installed_cap = public_max_installed_cap[public_max_installed_cap["GeneratorTechnology"] == "Hydrogen"].reset_index(drop=True)
public_max_installed_cap 
max_installed_cap_tab = pd.concat([max_installed_cap_tab, public_max_installed_cap], ignore_index=True)
max_installed_cap_tab """

' public_max_installed_cap = pd.read_excel("../Data/Data_EMPIRE-Public/Generator.xlsx", sheet_name="MaxInstalledCapacity", header=2)                .drop(columns=["Unnamed: 3", "Unnamed: 4", "NREAP (2020 number + 20%)"])\npublic_max_installed_cap = public_max_installed_cap[public_max_installed_cap["GeneratorTechnology"] == "Hydrogen"].reset_index(drop=True)\npublic_max_installed_cap \nmax_installed_cap_tab = pd.concat([max_installed_cap_tab, public_max_installed_cap], ignore_index=True)\nmax_installed_cap_tab '

Remove offshore nodes to be replaced

In [11]:
ow_nodes = pd.read_csv("../Output/offshore_capacities_base.csv")
ow_nodes

,Node,GeneratorTechnology,area_km2,generatorMaxInstallCapacity in MW
0,Moray Firth,Wind_offshr_grounded,1093.000000,5465.000000
1,Firth of Forth,Wind_offshr_grounded,2106.000000,10530.000000
2,Dogger Bank,Wind_offshr_grounded,3252.000000,16260.000000
3,Hornsea,Wind_offshr_grounded,2411.000000,12055.000000
4,Outer Dowsing,Wind_offshr_grounded,1253.000000,6265.000000
5,Norfolk,Wind_offshr_grounded,1626.000000,8130.000000
6,East Anglia,Wind_offshr_grounded,1351.000000,6755.000000
7,Borssele,Wind_offshr_grounded,976.383333,4881.916667
8,Hollandsee Kust,Wind_offshr_grounded,1332.833333,6664.166667
9,Helgoländer Bucht,Wind_offshr_grounded,4582.125000,22910.625000
10,Nordsøen,Wind_offshr_grounded,4022.000000,20110.000000
11,Moray Firth,Wind_offshr_floating,2329.000000,11645.000000
12,Firth of Forth,Wind_offshr_floating,5549.000000,27745.000000
13,Nordvest A,Wind_offshr_floating,11307.000000,56535.000000
14,Nordvest C,Wind_offshr_floating,5582.000000,27910.000000
15,Vestavind A,Wind_offshr_floating,1884.000000,9420.000000
16,Sønnavind A,Wind_offshr_floating,2900.000000,14500.000000
17,Sørvest C,Wind_offshr_grounded,1766.000000,8830.000000
18,Nordvest B,Wind_offshr_floating,3437.000000,17185.000000
19,Vestavind F,Wind_offshr_floating,1989.000000,9945.000000
20,Vestavind B,Wind_offshr_floating,2985.000000,14925.000000
21,Vestavind C,Wind_offshr_floating,1064.000000,5320.000000
22,Vestavind D,Wind_offshr_floating,734.000000,3670.000000
23,Sørvest F,Wind_offshr_grounded,2702.000000,13510.000000
24,Sørvest B,Wind_offshr_grounded,2179.000000,10895.000000
25,Nordavind B,Wind_offshr_floating,2239.000000,11195.000000
26,Nordavind A,Wind_offshr_floating,4275.000000,21375.000000
27,Nordavind D,Wind_offshr_floating,4112.000000,20560.000000
28,Nordavind C,Wind_offshr_floating,1054.000000,5270.000000
29,Vestavind E,Wind_offshr_floating,1475.000000,7375.000000
30,Sørvest E,Wind_offshr_floating,1016.000000,5080.000000
31,Sørvest A,Wind_offshr_floating,1456.000000,7280.000000
32,Sørvest D,Wind_offshr_floating,1215.000000,6075.000000
33,Sørvest E,Wind_offshr_grounded,1016.000000,5080.000000
34,Sørvest A,Wind_offshr_grounded,1456.000000,7280.000000
35,Sørvest D,Wind_offshr_grounded,1215.000000,6075.000000

In [12]:
offshr_areas_replaced = set(ow_nodes["Node"].values)
max_installed_cap_tab = max_installed_cap_tab[~max_installed_cap_tab["Node"].isin(offshr_areas_replaced)].reset_index(drop=True)
max_installed_cap_tab

            Node GeneratorTechnology  generatorMaxInstallCapacity  in MW
0        Austria                 Bio                            200000.0
1        Belgium                 Bio                            200000.0
2       Bulgaria                 Bio                            200000.0
3    Switzerland                 Bio                            200000.0
4        Czech R                 Bio                            200000.0
..           ...                 ...                                 ...
490      Romania             Nuclear                            200000.0
491       Serbia             Nuclear                            200000.0
492       Sweden             Nuclear                            200000.0
493     Slovenia             Nuclear                            200000.0
494     Slovakia             Nuclear                            200000.0

[495 rows x 3 columns]

Nodes to be added

In [13]:
ow_areas_added = ow_nodes.copy().drop(columns=["area_km2"])

# Weird bug, same column name doesn't merge on concat --> work-around
ow_areas_added.columns = ["Node", "GeneratorTechnology", "XXX"]
max_installed_cap_tab.columns = ["Node", "GeneratorTechnology", "XXX"]
max_installed_cap_tab = pd.concat([max_installed_cap_tab, ow_areas_added], ignore_index=True)
max_installed_cap_tab = max_installed_cap_tab.rename(columns={"XXX": "generatorMaxInstallCapacity in MW"})
max_installed_cap_tab

            Node   GeneratorTechnology  generatorMaxInstallCapacity in MW
0        Austria                   Bio                           200000.0
1        Belgium                   Bio                           200000.0
2       Bulgaria                   Bio                           200000.0
3    Switzerland                   Bio                           200000.0
4        Czech R                   Bio                           200000.0
..           ...                   ...                                ...
526    Sørvest A  Wind_offshr_floating                             7280.0
527    Sørvest D  Wind_offshr_floating                             6075.0
528    Sørvest E  Wind_offshr_grounded                             5080.0
529    Sørvest A  Wind_offshr_grounded                             7280.0
530    Sørvest D  Wind_offshr_grounded                             6075.0

[531 rows x 3 columns]

#### New Tab: OffshoreAreaMaxCapacity

Some areas allow for choosing between grounded and floating capacity; Have to make sure total installed capacity does not surpass area capacity (based on capacity density, default 5 MW/km2)

In [14]:
area_capacities_tab = pd.read_csv("../Output/offshore_area_max_capacity.csv")
area_capacities_tab

                 Node  offshoreWindAreaMaxInstallCapacity in MW
0         Moray Firth                              17110.000000
1      Firth of Forth                              38275.000000
2         Dogger Bank                              16260.000000
3             Hornsea                              12055.000000
4       Outer Dowsing                               6265.000000
5             Norfolk                               8130.000000
6         East Anglia                               6755.000000
7            Borssele                               4881.916667
8     Hollandsee Kust                               6664.166667
9   Helgoländer Bucht                              22910.625000
10           Nordsøen                              20110.000000
11         Nordvest A                              56535.000000
12         Nordvest C                              27910.000000
13        Vestavind A                               9420.000000
14        Sønnavind A                              14500.000000
15          Sørvest C                               8830.000000
16         Nordvest B                              17185.000000
17        Vestavind F                               9945.000000
18        Vestavind B                              14925.000000
19        Vestavind C                               5320.000000
20        Vestavind D                               3670.000000
21          Sørvest F                              13510.000000
22          Sørvest B                              10895.000000
23        Nordavind B                              11195.000000
24        Nordavind A                              21375.000000
25        Nordavind D                              20560.000000
26        Nordavind C                               5270.000000
27        Vestavind E                               7375.000000
28          Sørvest E                               5080.000000
29          Sørvest A                               7280.000000
30          Sørvest D                               6075.000000

### Write to Excel and update sheets

In [15]:
area_capacities_tab

                 Node  offshoreWindAreaMaxInstallCapacity in MW
0         Moray Firth                              17110.000000
1      Firth of Forth                              38275.000000
2         Dogger Bank                              16260.000000
3             Hornsea                              12055.000000
4       Outer Dowsing                               6265.000000
5             Norfolk                               8130.000000
6         East Anglia                               6755.000000
7            Borssele                               4881.916667
8     Hollandsee Kust                               6664.166667
9   Helgoländer Bucht                              22910.625000
10           Nordsøen                              20110.000000
11         Nordvest A                              56535.000000
12         Nordvest C                              27910.000000
13        Vestavind A                               9420.000000
14        Sønnavind A                              14500.000000
15          Sørvest C                               8830.000000
16         Nordvest B                              17185.000000
17        Vestavind F                               9945.000000
18        Vestavind B                              14925.000000
19        Vestavind C                               5320.000000
20        Vestavind D                               3670.000000
21          Sørvest F                              13510.000000
22          Sørvest B                              10895.000000
23        Nordavind B                              11195.000000
24        Nordavind A                              21375.000000
25        Nordavind D                              20560.000000
26        Nordavind C                               5270.000000
27        Vestavind E                               7375.000000
28          Sørvest E                               5080.000000
29          Sørvest A                               7280.000000
30          Sørvest D                               6075.000000

In [16]:
SHEET_TO_DF_AND_ROW = dict({
    "RefInitialCap": [ref_initial_cap_tab, 4],
    "MaxInstalledCapacity": [max_installed_cap_tab, 4],
    "OffshoreAreaMaxCapacity": [area_capacities_tab, 4]
})

Remember base file is from Public-EMPIRE, but other tabs updated

In [17]:
# Clean and overwrite existing input_file from original
import shutil

source = "../Data/Data_OpenEMPIRE/Generator.xlsx"
destination = "../EMPIRE_input/Generator.xlsx"

shutil.copy(source, destination)

'../EMPIRE_input/Generator.xlsx'

In [18]:
import openpyxl as ox

def update_spreadsheet(path:str, sheet_name:str, _df : pd.DataFrame, startcol:int=1, startrow:int=4):
    wb = ox.load_workbook(path)
    try: 
        ws=wb[sheet_name]
    except KeyError:
        ws = wb.create_sheet(sheet_name)
    
    # Write headers
    idx = 0
    for col in _df.columns:
        ws.cell(row = startrow - 1, column = startcol + idx).value = col
        idx += 1

    for row in range(0, _df.shape[0]): #For each row in the dataframe
        for col in range(0, _df.shape[1]): #For each column in the dataframe
            ws.cell(row = startrow + row, column = startcol + col).value = _df.iat[row, col]
    wb.save(path)

In [19]:
#Call the defined function
for sheet, df_and_row in SHEET_TO_DF_AND_ROW.items():
    df = df_and_row[0]
    row = df_and_row[1]
    update_spreadsheet(destination, sheet, df, startrow=row)